true
nil
false
nil
nil
true
true
nil
true
true
nil
true
nil
false
false
false
nil
nil
nil
nil
true
false
true
nil
nil
nil
nil
nil
true
true
true
nil
nil
nil
true
nil
nil
true
nil
nil
nil
nil
false
false
nil
nil
true
nil
nil
nil
