%% rebar.config
{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    {platform_define, "^2[1-9]|^[3-9]", 'POST_OTP_21'}
]}.

{deps, []}.

{plugins, [
    rebar3_hex,
    erlfmt,
    {rebar3_proper, "0.12.1"},
    {coveralls, "2.2.0"}
]}.

{erlfmt, [
    write,
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config"
    ]},
    {exclude_files, [
        "src/erldn_lexer.erl",
        "src/erldn_parser.erl"
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [erldn]}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"},
            {coveralls, "2.2.0"}
        ]},
        {erl_opts, [
            debug_info,
            {d, 'TEST'}
        ]},
        {cover_enabled, true},
        {cover_export_enabled, true},
        {coveralls_coverdata, "_build/test/cover/*.coverdata"},
        {coveralls_service_name, "github"},
        {coveralls_parallel, true}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{xref_ignores, [
    {erldn_lexer, string, 5},
    {erldn_lexer, token, 2},
    {erldn_lexer, token, 3},
    {erldn_parser, parse, 1},
    {erldn_parser, return_error, 2}
]}.

{dialyzer, [
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling,
        underspecs,
        extra_return,
        missing_return
    ]},
    {get_warnings, true},
    {check_plt, false},
    %%{plt_apps, top_level_deps},
    %%{plt_extra_apps, []},
    %%{plt_location, local},
    %%{base_plt_apps, [stdlib, kernel, erts]},
    %%{base_plt_location, global},
    {exclude_apps, []},
    {apps, [erldn]},
    {exclude_modules, [erldn_lexer, erldn_parser]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.

{minimum_otp_vsn, "25"}.

{alias, [
    {check, [xref, dialyzer, {proper, "-c"}, cover]},
    {test, [eunit, {proper, "-c"}, cover]},
    {cleanplus, [clean, {cover, "-r"}]}
]}.
